{% extends "reddit/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  
        <div id="RegisterContainer">
          <form method="post" class="form">
            {% csrf_token %}
            <h1>Log In</h1>
            {{ form.username }} {{ form.password }}
            <button type="submit" class="submitButton">Create Account</button>
          </form>
          <p class="alreadyText">Already have an account? <a href="" class="loginBtn">Login</a></p>
        </div>
      </div>

    <script>
      var form_fields = document.getElementsByTagName('input');
      form_fields[2].placeholder = 'Username...';
      form_fields[3].placeholder = 'Password...';
    </script>
{% endblock content %}
