{% extends "reddit/base.html" %}
{% block content %}

<div id="ProfilePage">
	<div class="profile">
		<img class="profilePhoto" src="{{ user.profile.profilePhoto.url }}">
		<div class="profileData">
      {{ user.profile.ProfilePhoto}}
			<p class="username">{{ user.username }}</p>
			<p class="metaUsername">u/<a href="">{{ user.username }}</a> & 4y</p>
      <p class="about">{{ user.profile.about }}</p>
		</div>
	</div>
	<div id="feed">
		<div class="post">
            <div class="ratingsContainer">
              <a href="">Up Vote</a>
              <p>{{ post.Upvotes }}</p>
              <a href="">Down Vote</a>
            </div>
            <div class="body">
              <div class="metaData">
                <p class="postCommunityName">r/{{ post.Community }}</p>
                <p>Posted by u/{{ post.CreatedBy.username }} 6 hours ago</p>
              </div>
              <h1 class="title">{{ post.Title }}</h1>
              <div class="postText">
                <p class="postText">{{ post.BodyText }}</p>
              </div>
            </div>
      	</div>
	</div>
</div>

{% endblock content %}