{% extends "reddit/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
        <div id="RegisterContainer">
          <form method="post" class="form">
            {% csrf_token %}
            <h1>Create an Account</h1>
            {{ form.username }} {{ form.email }} {{ form.password1}} {{ form.password2}} {{ form.errors }}
            <button type="submit" class="submitButton">Create Account</button>
          </form>
          <p class="alreadyText">Already have an account? <a href="" class="loginBtn">Login</a></p>
        </div>

    <script>
      var form_fields = document.getElementsByTagName('input');
      form_fields[2].placeholder = 'Username..';
      form_fields[3].placeholder = 'Email..';
      form_fields[4].placeholder = 'Enter password...';
      form_fields[5].placeholder = 'Re-enter Password...';
    </script>
{% endblock content %}
