{% extends "reddit/base.html" %}
{% block content %}
        <div id="FeedFilterbar">
          <button>Hot</button>
          <button>Top Liked</button>
          <button>Most Recent</button>
          <button>Create Post</button>
        </div>
        <div id="feed">
          {% for post in Posts %}
          <div class="post">
            <div class="ratingsContainer">
              <a href="">Up Vote</a>
              <p>{{ post.Upvotes }}</p>
              <a href="">Down Vote</a>
            </div>
            <div class="body">
              <div class="metaData">
                <p class="postCommunityName">r/{{ post.Community }}</p>
                <p>Posted by u/{{ post.CreatedBy.username }} 6 hours ago</p>
              </div>
              <h1 class="title">{{ post.Title }}</h1>
              <div class="postText">
                <p class="postText">{{ post.BodyText }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
{% endblock content %}